<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sayhellototheworld.littlewatermelon.graduation"
          android:fitsSystemWindows="true">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".SchoolApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/my_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <meta-data
            android:name="design_width"
            android:value="768"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="4e72a6b302b42f82725c95c9749c624b"/>

        <activity android:name=".EnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


         


        <!-- TODO 集成：1.5、配置IM SDK需要的广播和服务 -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore"/>
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore"/>
        <service android:name="cn.bmob.newim.core.service.ReConnectService"/>
        <service android:name="cn.bmob.newim.core.service.HeartBeatService"/>

        <activity android:name=".SDriverActivity">
        </activity>
        <activity android:name=".view.center_activity.CenterActivity">
        </activity>
        <activity
            android:name=".view.user_view.LoginActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.RegisterUserActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.ForgetPasswordActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.ForgetPasswordNextActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".view.user_view.PersonalInformationActivity">
        </activity>
        <activity
            android:name=".view.user_view.UserSettingActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".util.pictureselect.activity.FolderListviewActivity"/>
        <activity android:name=".util.pictureselect.activity.ShowPictureActivity"/>
        <activity android:name=".util.pictureselect.activity.ClipHeadPortraitActivity">
        </activity>
        <activity android:name=".util.pictureselect.activity.PreviewPlanPicActivity">
        </activity>
        <activity android:name=".util.pictureselect.activity.PreviewBackgroundActivity">
        </activity>
        <activity android:name=".view.function_view.SchoolChooseActivity">
        </activity>
        <activity
            android:name=".view.home_page_function_view.lost_and_find.LostAndFindActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.flea_mark.FleaMarketActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.resource_share.ResourceSharingActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.announcement.AnnouncementActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.request_repairs.RequestRepairsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.respond_repairs.RespondRepairActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.request_leave.RequestLeaveActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.respond_leave.RespondLeaveActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.lost_and_find.SearchLostActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.lost_and_find.WriteLostActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.lost_and_find.OwnLostActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.lost_and_find.LostDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.function_view.WriteCommentActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.function_view.MsgDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme"/>
        <activity
            android:name=".view.home_page_function_view.flea_mark.WriteFleaMarkActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.flea_mark.FleaMsgDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.resource_share.WriteResourceShareActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.friend_view.UserDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.resource_share.ResourceShareDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.user_view.TeacherMessageActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.message_function_view.CommonMessageActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.message_function_view.teacher_view.BindTeacherMsgActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.request_leave.WriteLeaveActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.announcement.WriteAnnouncementActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.home_page_function_view.request_repairs.WriteRepairsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.forum_function_view.WriteForumActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.forum_function_view.OwnForumActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.forum_function_view.ForumDetailsActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.forum_function_view.ReplayOtherCommentActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.message_function_view.ForumCommentMessageActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.message_function_view.teacher_view.StudentActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.friend_view.FriendRequestMsgActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.friend_view.QueryFriendActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity
            android:name=".view.im_view.IMActivity"
            android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
        <activity android:name=".view.im_view.ChatActivity"
                  android:theme="@style/NoActionBarTranslucentTheme">
        </activity>
    </application>

</manifest>